.user_container {
  display: flex;
}

.user_list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}

.user_card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  background-color: skyblue;
  color: white;
  font-weight: bold;
  backdrop-filter: blur(5px);
  align-items: center;
  text-align: center;
}
